<form class="form-group container bg-dark text-white rounded" autocomplete="off">
  <div>
    <label class="form-label mt-2" for="proyecto">Proyecto</label>
    <input class="form-control" type="text"id="proyecto" placeholder="Nombre Del Proyecto" />
  </div>

  <div>
    <label class="form-label mt-2" for="horas">Horas</label>
    <input class="form-control" type="number"id="horas" placeholder="Horas" />
  </div>

  <div>
    <label class="form-label mt-2" for="tecnologias">Tecnologia</label>
    <div class="row">
      <div class="col-12 col-md-8">
        <input class="form-control"
        type="text"
       id="tecnologias"
        placeholder="Nombre de la tecnologia"
      />
      </div>
      <div class="col-12 col-md-4">
        <button class="btn btn-success">
          Agrega Tecnologia
        </button>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-primary mt-2 mb-3 w-100" type="submit">Agregar Proyecto</button>
  </div>
</form>
