<form class="form-group container bg-info text-dark rounded" autocomplete="off">
  <div>
    <label class="form-label mt-2" for="proyecto">Proyecto</label>
    <input class="form-control" type="text"id="proyecto" placeholder="Nombre Del Proyecto" />
  </div>

  <div>
    <label class="form-label mt-2" for="horas">Horas</label>
    <input class="form-control" type="number"id="horas" placeholder="Horas" />
  </div>

  <div>
    <label class="form-label mt-2" for="tecnologias">Tecnologia</label>
    <input class="form-control"
      type="text"
     id="tecnologias"
      placeholder="Nombre de la tecnologia"
    />
  </div>

  <div>
    <button class="btn btn-warning mt-2 mb-3 w-100" type="submit">Agregar Proyecto</button>
  </div>
</form>

